- name: {{ apb_name }} playbook to {{ action_name }} the application
  hosts: localhost
  gather_facts: false
  connection: local
  roles:
  - role: {{ action_name }}-{{ apb_name }}
    playbook_debug: false
