##############################################################################
## Provision {{ apb_name }}
## This role executes much of the needed functionality to provision an
## application using an Ansible Playbook Bundle.  Included in the comments
## below are some sample resources for getting started deploying an application
## to OpenShift.
##############################################################################


##############################################################################
## An OpenShift Origin project is a Kubernetes namespace with additional
## annotations. It provides a mechanism to scope resources in a cluster and
## are required to create any additional resources.
## https://docs.openshift.org/latest/architecture/core_concepts/projects_and_users.html#projects
##############################################################################
#- name: create project if it doesn't exist
#  openshift_v1_project:
#    name: '{% raw %}{{ namespace }}{% endraw %}'


##############################################################################
## An OpenShift Origin deployment configuration provides a replication
## controller, spins up pods, and also provides the ability to transition from
## one deployment of an image to a new one.
## https://docs.openshift.org/latest/architecture/core_concepts/deployments.html#deployments-and-deployment-configurations
##############################################################################
#- name: create deployment config
#  openshift_v1_deployment_config:
#    name: {{ apb_name }}
#    namespace: '{% raw %}{{ namespace }}{% endraw %}'
#    labels:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    replicas: 1
#    selector:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    spec_template_metadata_labels:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    containers:
#    - env:
#      image: docker.io/ansibleplaybookbundle/hello-world:latest # replace with your application image
#      name: {{ apb_name }}
#      ports:
#      - container_port: 80
#        protocol: TCP


##############################################################################
## A Kubernetes service serves as an internal load balancer.  It identifies a
## set of replicated pods in order to proxy the connections it receives to them.
## https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html#services
##############################################################################
#- name: create {{ apb_name }} service
#  k8s_v1_service:
#    name: {{ apb_name }}
#    namespace: '{% raw %}{{ namespace }}{% endraw %}'
#    labels:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    selector:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    ports:
#      - name: web
#        port: 80
#        target_port: 80


##############################################################################
## An OpenShift Origin route exposes a service at a host name, so that external
## clients can reach it by name. Each route consists of a name, a service
## selector, and an optional security configuration.
## https://docs.openshift.org/latest/architecture/core_concepts/routes.html
##############################################################################
#- name: create {{ apb_name }} route
#  openshift_v1_route:
#    name: {{ apb_name }}
#    namespace: '{% raw %}{{ namespace }}{% endraw %}'
#    spec_port_target_port: web
#    labels:
#      app: {{ apb_name }}
#      service: {{ apb_name }}
#    to_name: {{ apb_name }}
